body{
    background-color:#FFD5E6;
}
/***********cor da layout*********/

.people{
    float: left;
    width: 50%;
    height: 5rem;
   
   
}
/*******posição da logo Fernanda Carmo*****/
.link{
   
    display: flex;
    gap: 20px;

}
/*******posição dos links*********/
.nova img{
   width: 300px;
   

    
}
/******posição da imagem********/
.post{
    height: 20rem;
   
    width: 50%;
    float: left;
    
}
/*******posição da layout da imagem***/
.sobre{

width: 50%;

}
/**
.hobbie{
    width: 50%;
    float: left;
    
}
.box1{
    height: 20rem;
    background-color: aqua;
    width: 50%;
    float:left;
    display: flex;
}
.box2{
    font-size: 2rem;
    height: 200px;
    width: 50%;
    background-color:chartreuse;
    border: 1px solid;
    margin-top: 50px;
    float: left;
}
/*******posição dos hobbies*****
.top{
height: 20rem;
background-color:blue;
width: 50%;
float:right;
display: flex;
}
/****posição dos top 5**********
.top img{
    width: 120px;
    height: 10rem;
    margin: auto;
}
.box{
    font-size: 2rem;
    height: 200px;
    width: 50%;
    background-color:brown;
    border: 1px solid;
    margin-top: 50px;
    float: right;
}
.topico{
    width: 50%;
    height: 3px;
    float: right;
}
******************************************/
.bloco1{
    
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
 


}
.bloco2{
   
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
   

   
}
.box{
    font-size: 2rem;
    width: 110px;
    
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.parent{
   
    margin: 0auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.box img{
    width: 100px;
    height: 150px;
    margin: auto;
}
.redes img{
    width: 30px;
}

/*****/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.nova{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.bloco{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.tit1:hover{
cursor: pointer;
opacity: 1.5;
background-color: blueviolet;
}
a{
    color: black;
}
.tit2:hover{
    cursor: pointer;
    opacity: 1.5;
    background-color: blueviolet;
}
.tit3:hover{
    cursor: pointer;
    opacity: 1.5;
    background-color: blueviolet;
}
.redes2:hover{
    cursor: pointer;
    opacity: 1.5;
    background-color: blueviolet;
}